.dateCard {
  display: grid;

  padding: 12px;

  border: 1px solid var(--white);
  border-radius: 3px;
  background: var(--off-white);
  box-shadow: var(--shadow-light);

  gap: 12px;
}

.dateCard h5 {
  font-size: 18px;
}

.dateCard > div {
  padding: 4px 8px;

  color: var(--white);
  border-radius: 99px;
  background-color: var(--color);

  font-size: 14px;
  font-weight: 700;

  justify-self: start;
}

.dateCard p {
  letter-spacing: 0px;

  color: var(--grey);

  font-size: 16px;
  line-height: 1.6;
}
