.articleWrapper {
  display: grid;

  padding: 8px;

  gap: 24px;
}

.articleWrapper h4 {
  margin-bottom: 12px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: var(--text);

  font-size: 18px;
}
