.container {
  overflow: hidden;

  width: 100%;
  height: 40rem;

  background: var(--primary, black);

  @media screen and (min-width: 450px) {
    height: 70rem;
  }

  & > img {
    width: 100%;
    height: 100%;

    opacity: 0.2;

    object-fit: cover;
    mix-blend-mode: multiply;
  }
}
