{
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"],
  "plugins": ["react", "prettier", "jest", "promise", "react-hooks"],
  "rules": {
    "prettier/prettier": ["error"],
    "quotes": ["error", "double"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ]
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "fetch": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
