.CV_SkillListing {
  margin-top: 8mm;
}

.CV_SkillListing h3 {
  font-size: 12pt;
  font-weight: bold;
}

.CV_SkillListing h4 {
  font-size: 10pt;
  margin-top: 2mm;
}

.CV_SkillListing ul {
  margin-left: 8mm;
}

.CV_SkillListing li {
  letter-spacing: 1px;
  font-size: 10pt;
}
