.skillCard {
  padding: 12px;

  text-decoration: none;

  color: var(--text);
  border: 1px solid var(--white);
  border-radius: 3px;
  background: var(--off-white);
  box-shadow: var(--shadow-light);
}

.skillCard h5 {
  letter-spacing: 1px;

  font-size: 18px;
}

.skillCard p {
  margin: 8px 0px 24px;
  margin-right: 12px;
  padding-left: 10px;

  list-style: none;

  word-spacing: 3px;
  letter-spacing: 0.8px;
  font-size: 16px;
  line-height: 2;
}

.skillCard span {
  color: var(--grey-tint);
}

.skillCard p::after {
  position: absolute;
  top: 0;
  left: 0;

  width: 4px;
  height: 100%;

  content: '';

  border-radius: 99px;
  background-color: var(--color);
}
