.container {
  @media screen and (min-width: 600px) {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
