.CV_Experience {
  color: black;
  font-size: 10pt;
  margin-bottom: 8mm;
}

.CV_Experience h3 {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 2mm;
}

.CV_ExperienceItem {
  margin-bottom: 4mm;
}

.CV_ExperienceItem h4 {
  font-size: 12pt;
}

.CV_ExperienceItem p {
  font-style: italic;
  margin-bottom: 1mm;
}

.CV_Markdown {
}

.CV_Markdown p {
  font-style: normal;
}

.CV_Markdown ul {
  margin-left: 5mm;
  margin-bottom: 2mm;
}

.CV_Markdown li {
}
