@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

:root {
  --grey: #555;
  --text: #270321;
  --color: #ec16c9;
  --white: #fff;
  --off-white: #efefef;
  --title: 'Comfortaa', Arial, Helvetica, sans-serif;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.15),
    0 24px 48px rgba(0, 0, 0, 0.1);
  --shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.06),
    0 12px 24px rgba(0, 0, 0, 0.04);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 200;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
