@charset "UTF-8";
/*
sass/
|– abstracts/
|   |– _variables.scss    # Sass Variables
|   |– _functions.scss    # Sass Functions
|   |– _mixins.scss       # Sass Mixins
|   |– _placeholders.scss # Sass Placeholders
|
|– base/
|   |– _reset.scss        # Reset/normalize
|   |– _typography.scss   # Typography rules
|
|– components/
|   |– _buttons.scss      # Buttons
|   |– _carousel.scss     # Carousel
|   |– _cover.scss        # Cover
|   |– _dropdown.scss     # Dropdown
|
|– layout/
|   |– _navigation.scss   # Navigation
|   |– _grid.scss         # Grid system
|   |– _header.scss       # Header
|   |– _footer.scss       # Footer
|   |– _sidebar.scss      # Sidebar
|   |– _forms.scss        # Forms
|
|– pages/
|   |– _home.scss         # Home specific styles
|   |– _contact.scss      # Contact specific styles
|
|– themes/
|   |– _theme.scss        # Default theme
|   |– _admin.scss        # Admin theme
|
|– vendors/
|   |– _bootstrap.scss    # Bootstrap
|   |– _jquery-ui.scss    # jQuery UI
*/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.6;
  color: #333;
  letter-spacing: 0.8px;
  min-height: 100vh; }

.titulo--1, .titulo--2 {
  font-family: "Unica One", cursive;
  text-transform: uppercase; }

.titulo--1 {
  font-size: 7rem;
  line-height: 0.9; }

.titulo--2 {
  color: #fa3714;
  font-size: 3rem; }

.negrito {
  font-weight: 700; }

.semiNegrito {
  font-weight: 400; }

.foto__imagem {
  object-fit: cover;
  height: 100%;
  transform: scale(1.1);
  transition: all ease 1s; }

.foto__wrapper {
  overflow: hidden;
  border-radius: 50%;
  height: 25rem;
  width: 25rem; }

.toolTip {
  position: relative; }
  .toolTip__item {
    visibility: hidden;
    display: block;
    position: absolute;
    top: -100%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -100%);
    opacity: 0;
    background-color: #fa3714;
    color: #f9f9f9;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 2px;
    min-width: 11rem;
    padding: 1rem;
    transition: all ease 0.3s; }
  .toolTip:hover .toolTip__item {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%); }

.academica__caixaItem {
  line-height: 1.2; }
  .academica__caixaItem:not(:last-child) {
    margin-bottom: 2rem; }

.academica__instituicao {
  font-weight: 400;
  font-size: 2rem; }

.academica__curso {
  font-size: 1.6rem; }

.academica__anoConclusao {
  font-weight: 400;
  font-size: 1.4rem; }

.conhecimento:not(:last-child) {
  margin-bottom: 1.6rem; }

.conhecimento__nome {
  font-weight: 400;
  line-height: 1; }

.conhecimento__estrela {
  height: 2rem;
  width: 2rem; }
  .conhecimento__estrela--starFull {
    fill: #fa3714; }
  .conhecimento__estrela--starHalf {
    fill: #fa3714; }
  .conhecimento__estrela--starEmpty {
    fill: #ccc; }

.iconeSVG {
  margin: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  fill: currentColor;
  transition: all ease 0.3s; }
  .iconeSVG:hover {
    color: #fa3714;
    transform: scale(1.1) translateY(0.3rem); }
  .iconeSVG--grande {
    width: 7rem;
    height: 7rem; }

.contato__listaSVG {
  color: #777; }

.portfolio {
  color: #777;
  transition: all ease 0.2s; }
  .portfolio__item {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, 1fr); }
    .portfolio__item:hover {
      color: #fa3714; }
  .portfolio__svg {
    align-self: center;
    grid-row: 1 / span 2; }
  .portfolio__texto {
    font-size: 3rem;
    font-weight: 700;
    align-self: end; }
  .portfolio__link {
    font-size: 2rem;
    line-height: 1;
    align-self: start; }

body {
  background-image: linear-gradient(to bottom right, #f56e30, #ca1717); }

.conteudo {
  max-width: 80rem;
  margin: 7rem auto;
  background-color: #f9f9f9;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(5, 1fr);
  grid-gap: 5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  justify-content: start; }

.cabecalho {
  text-align: right; }

.foto {
  justify-self: end; }

.infoBasico {
  line-height: 1.3;
  text-align: right; }

.academica {
  text-align: right; }

.conhecimentos {
  grid-column: 2 / span 1;
  grid-row: 1 / span 5; }

.contato {
  text-align: right; }

.portfolio {
  grid-column: 1 / span 2; }
