@charset "UTF-8";
/*
sass/
|– abstracts/
|   |– _variables.scss    # Sass Variables
|   |– _functions.scss    # Sass Functions
|   |– _mixins.scss       # Sass Mixins
|   |– _placeholders.scss # Sass Placeholders
|
|– base/
|   |– _reset.scss        # Reset/normalize
|   |– _typography.scss   # Typography rules
|
|– components/
|   |– _buttons.scss      # Buttons
|   |– _carousel.scss     # Carousel
|   |– _cover.scss        # Cover
|   |– _dropdown.scss     # Dropdown
|
|– layout/
|   |– _navigation.scss   # Navigation
|   |– _grid.scss         # Grid system
|   |– _header.scss       # Header
|   |– _footer.scss       # Footer
|   |– _sidebar.scss      # Sidebar
|   |– _forms.scss        # Forms
|
|– pages/
|   |– _home.scss         # Home specific styles
|   |– _contact.scss      # Contact specific styles
|
|– themes/
|   |– _theme.scss        # Default theme
|   |– _admin.scss        # Admin theme
|
|– vendors/
|   |– _bootstrap.scss    # Bootstrap
|   |– _jquery-ui.scss    # jQuery UI
*/
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.6;
  color: #333;
  letter-spacing: 0.8px;
  min-height: 100vh; }

.titulo--1, .titulo--2 {
  font-family: "Unica One", cursive;
  text-transform: uppercase; }

.titulo--1 {
  font-size: 7rem;
  line-height: 0.9; }

.titulo--2 {
  color: #fa3714;
  font-size: 3rem; }

.negrito {
  font-weight: 700; }

.semiNegrito {
  font-weight: 400; }

.foto__imagem {
  object-fit: cover;
  height: 100%;
  transform: scale(1.1);
  transition: all ease 1s; }

.foto__wrapper {
  overflow: hidden;
  border-radius: 50%;
  height: 25rem;
  width: 25rem; }

.toolTip {
  font-weight: 400;
  display: inline-block;
  position: relative; }
  .toolTip__interno {
    visibility: hidden;
    position: absolute;
    top: -50%;
    right: 50%;
    transform: translate(50%, 0) scaleX(0);
    padding: 0.5rem;
    color: #f9f9f9;
    background-color: #fa3714;
    transition: transform ease 0.2s; }
  .toolTip:hover .toolTip__interno {
    visibility: visible;
    transform: translate(50%, -3rem) scaleX(1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25); }

.academica__caixaItem {
  line-height: 1.2; }
  .academica__caixaItem:not(:last-child) {
    margin-bottom: 2rem; }

.academica__instituicao {
  font-weight: 400;
  font-size: 2rem; }

.academica__curso {
  font-size: 1.6rem; }

.academica__anoConclusao {
  font-weight: 400;
  font-size: 1.4rem; }

.conhecimento {
  position: relative;
  padding-left: 0.5rem; }
  .conhecimento:not(:last-child) {
    margin-bottom: 1.6rem; }
  .conhecimento::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #fa3714;
    height: 0;
    width: 2px;
    transform: translate(-50%, -50%);
    transition: height ease-out 0.1s, left ease-in 0.2s 0.1s; }
  .conhecimento:hover::before {
    left: 100%;
    height: 100%; }
  .conhecimento__detalhe {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fa3714;
    color: #f9f9f9;
    font-weight: 400;
    height: 100%;
    padding: 0.4rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: all ease-out 0.1s 0.3s; }
  .conhecimento:hover .conhecimento__detalhe {
    visibility: visible;
    transform: scaleX(1); }
  .conhecimento__nome {
    font-weight: 400;
    line-height: 1; }
  .conhecimento__estrela {
    height: 2rem;
    width: 2rem; }
    .conhecimento__estrela--starFull {
      fill: #fa3714; }
    .conhecimento__estrela--starHalf {
      fill: #fa3714; }
    .conhecimento__estrela--starEmpty {
      fill: #ccc; }

.svg__contato {
  margin: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
  fill: currentColor;
  transition: all ease 0.3s; }
  .svg__contato:hover {
    color: #fa3714;
    transform: scale(1.1) translateY(0.3rem); }

.svg__portfolio {
  margin: 1rem;
  height: 7rem;
  width: 7rem;
  fill: currentColor; }

.contato__listaSVG {
  color: #777; }

.portfolio {
  color: #777;
  transition: all ease 0.2s; }
  .portfolio__item {
    position: relative;
    text-decoration: none;
    color: inherit;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, 1fr); }
    .portfolio__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .portfolio__item:hover {
      color: #f9f9f9; }
      .portfolio__item:hover::before {
        height: 100%;
        width: 100%;
        opacity: 1;
        visibility: visible; }
    .portfolio__item::before {
      content: "";
      visibility: hidden;
      opacity: 1;
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: #fa3714;
      transition: all ease 0.2s; }
  .portfolio__svg {
    position: relative;
    z-index: 10;
    align-self: center;
    grid-column: 2 / -1;
    grid-row: 1 / span 2; }
  .portfolio__texto {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    font-weight: 700;
    align-self: end; }
  .portfolio__link {
    position: relative;
    z-index: 10;
    font-size: 2rem;
    line-height: 1;
    align-self: start; }

body {
  background-image: linear-gradient(to bottom right, #f56e30, #ca1717); }

.conteudo {
  max-width: 80rem;
  margin: 7rem auto;
  background-color: #f9f9f9;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(5, 1fr);
  grid-gap: 5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  justify-content: start; }

.cabecalho {
  text-align: right;
  justify-self: end; }

.foto {
  justify-self: end;
  justify-self: end; }

.infoBasico {
  line-height: 1.3;
  text-align: right;
  justify-self: end; }

.academica {
  text-align: right;
  justify-self: end; }

.conhecimentos {
  grid-column: 2 / span 1;
  grid-row: 1 / span 5;
  justify-self: stretch; }

.contato {
  text-align: right;
  justify-self: end; }

.portfolio {
  grid-column: 1 / span 2;
  justify-self: stretch; }
