///////////////////////////////
//VARIAVEIS

$corPrimaria: #fa3714;
$corPrimariaClaro: #f56e30;
$corPrimariaEscuro: #ca1717;

$corContraste: #4f4a44;

$cinza1: #f9f9f9;
$cinza2: #f1f1f1;
$cinza3: #d5d5d5;
$cinza4: #ddd;
$cinza5: #ccc;
$cinza6: #aaa;
$cinza7: #999;
$cinza8: #777;
$cinza9: #333;

$sombra: 0 2rem 3rem rgba(0, 0, 0, 0.25);
$sombraLeve: 0 1rem 2rem rgba(0, 0, 0, 0.25);

///////////////////////////////
//MIXINS
@mixin responsivo($point) {
  @if $point == lg {
    @media only screen and (max-width: 850px) {
      @content;
    }
  }
  @if $point == md {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }
  @if $point == sm {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }
}
