///////////////////////////////
//VARIAVEIS

*:root {
  --corPrimaria: #28CAFB;
  --corPrimariaClaro: #75e7f7;
  --corPrimariaEscuro: #3aafd3;

  --corContraste: #4F4A44;

  --cinza1: #f9f9f9;
  --cinza2: #f1f1f1;
  --cinza3: #d5d5d5;
  --cinza4: #ddd;
  --cinza5: #ccc;
  --cinza6: #aaa;
  --cinza7: #999;
  --cinza8: #777;
  --cinza9: #333;
}



///////////////////////////////
//MIXINS