///////////////////////////////
//RESET
* {
    margin: 0;
    padding: 0;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

html,body, #root {
    min-height: 100vh;
}

html {
    box-sizing: border-box;
    font-size: 62.5% //1 rem = 10px => 10/16 = 62,5%
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to bottom right, var(--colorPrimaryLigh), var(--colorPrimaryDark));
    color: var(--greyDark1);

    min-height: 100vh;
}