.foto {
  &__imagem {
    object-fit: cover;
    height: 100%;
    transform: scale(1.1);
    transition: all ease 1s;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
  }
}

.toolTip {
  display: inline-block;
  position: relative;

  &__item {
    visibility: hidden;
    display: block;

    position: absolute;
    top: -100%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -100%);
    opacity: 0;

    background-color: $corPrimaria;
    color: $cinza1;
    font-size: 1.4rem;
    text-align: center;

    border-radius: 2px;
    min-width: 11rem;
    padding: 1rem;

    transition: all ease 0.3s;
  }

  &:hover &__item {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &__interno {
    visibility: hidden;
    padding: 0.5rem;
    color: $cinza1;
    position: absolute;
    background-color: $corPrimaria;
    top: -100%;
    left: 0;
    transform: translate(-50%, -3rem) scaleX(0);
    transition: transform ease .2s;
  }
  
  &:hover &__interno {
    visibility: visible;
    transform: translate(-50%, 0) scaleX(1);
    box-shadow: $sombraLeve;
  }

}

.academica {
  &__caixaItem {
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__instituicao {
    font-weight: 400;
    font-size: 2rem;
  }

  &__curso {
    font-size: 1.6rem;
  }

  &__anoConclusao {
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.conhecimento {
  position: relative;
  padding-left: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $corPrimaria;
    height: 0;
    width: 2px;
    transform: translate(-50%, -50%);
    transition: height ease 0.1s, left ease 0.2s 0.1s;
  }

  &:hover::before {
    height: 100%;
  }

  &__nome {
    font-weight: 400;
    line-height: 1;
  }

  &__estrela {
    height: 2rem;
    width: 2rem;

    &--starFull {
      fill: $corPrimaria;
    }
    &--starHalf {
      fill: $corPrimaria;
    }
    &--starEmpty {
      fill: $cinza5;
    }
  }
}

.svg {
  &__contato {
    margin: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor;
    transition: all ease 0.3s;

    &:hover {
      color: $corPrimaria;
      transform: scale(1.1) translateY(0.3rem);
    }
  }

  &__portfolio {
    margin: 1rem;
    height: 7rem;
    width: 7rem;
    fill: currentColor;
  }
}

.contato {
  &__listaSVG {
    color: $cinza8;
  }
}

.portfolio {
  color: $cinza8;
  transition: all ease 0.2s;

  &__item {
    position: relative;
    text-decoration: none;
    color: inherit;

    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, 1fr);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &:hover {
      color: $cinza1;

      &::before {
        height: 100%;
        width: 100%;
        opacity: 1;
        visibility: visible;
      }
    }

    &::before {
      content: "";
      visibility: hidden;
      opacity: 1;
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $corPrimaria;
      transition: all ease 0.2s;
    }
  }

  &__svg {
    position: relative;
    z-index: 10;
    align-self: center;
    grid-column: 2 / -1;
    grid-row: 1 / span 2;
  }

  &__texto {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    font-weight: 700;
    align-self: end;
  }

  &__link {
    position: relative;
    z-index: 10;
    font-size: 2rem;
    line-height: 1;
    align-self: start;
  }
}
