.foto {
  &__imagem {
    object-fit: cover;
    height: 100%;
    transform: scale(1.1);
    transition: all ease 1s;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
  }
}

.toolTip {
  font-weight: 400;
  display: inline-block;
  position: relative;

  &__interno {
    visibility: hidden;
    position: absolute;
    top: -50%;
    right: 50%;
    transform: translate(50%, 0) scaleX(0);

    padding: 0.5rem;
    color: $cinza1;
    background-color: $corPrimaria;

    transition: transform ease 0.2s;
  }
  @media (any-hover) {
    &:hover &__interno {
      visibility: visible;
      transform: translate(50%, -3rem) scaleX(1);
      box-shadow: $sombraLeve;
    }
  }
}

.academica {
  &__caixaItem {
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__instituicao {
    font-weight: 400;
    font-size: 2rem;
  }

  &__curso {
    font-size: 1.6rem;
  }

  &__anoConclusao {
    font-weight: 400;
    font-size: 1.4rem;
  }
}

.conhecimento {
  position: relative;
  padding-left: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    background-color: $corPrimaria;
    height: 0;
    width: 2px;
    transform: translate(-50%, -50%);
    transition: height ease-out 0.1s, left ease-in 0.2s 0.1s;
  }

  @media (any-hover: hover) {
    &:hover::before {
      height: 100%;
    }
  }

  &__detalhe {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;

    background-color: $corPrimaria;
    color: $cinza1;
    font-weight: 400;
    height: 100%;
    padding: 0.4rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: all ease-out 0.1s 0.3s;
  }

  @media (any-hover: hover) {
    &:hover &__detalhe {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &__nome {
    font-weight: 400;
    line-height: 1;
  }

  &__estrela {
    height: 2rem;
    width: 2rem;

    &--starFull {
      fill: $corPrimaria;
    }
    &--starHalf {
      fill: $corPrimaria;
    }
    &--starEmpty {
      fill: $cinza5;
    }
  }
}

.svg {
  &__contato {
    margin: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor;
    transition: all ease 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: $corPrimaria;
        transform: scale(1.1) translateY(0.3rem);
      }
    }

    @include responsivo(md) {
      height: 4rem;
      width: 4rem;
      margin: 1rem;
    }

    @include responsivo(sm) {
      height: 4.5rem;
      width: 4.5rem;
      margin: 1rem;
    }
  }

  &__portfolio {
    margin: 1rem;
    height: 7rem;
    width: 7rem;
    fill: currentColor;
  }
}

.contato {
  &__listaSVG {
    color: $cinza8;
  }
}

.portfolio {
  color: $cinza8;
  transition: all ease 0.2s;

  &__item {
    position: relative;
    text-decoration: none;
    color: inherit;

    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: repeat(2, 1fr);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $cinza1;

        &::before {
          height: 100%;
          width: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &::before {
      content: '';
      visibility: hidden;
      opacity: 1;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 2px;
      background-color: $corPrimaria;
      transition: all ease 0.2s;
    }
  }

  &__svg {
    position: relative;
    z-index: 10;
    align-self: center;
    grid-column: 2 / -1;
    grid-row: 1 / span 2;
  }

  &__texto {
    position: relative;
    z-index: 10;
    font-size: 3rem;
    font-weight: 700;
    align-self: end;
  }

  &__link {
    position: relative;
    z-index: 10;
    font-size: 2rem;
    line-height: 1;
    align-self: start;
  }
}

.experiencia {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 1rem;
  transition: all ease 0.25s;

  @include responsivo(md) {
    flex-direction: column;
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media (any-hover) {
    &:hover {
      transform: translatey(-1rem);
    }
  }

  &::after {
    content: '';
    background-color: $corPrimaria;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    transition: inherit;
  }

  @media (any-hover) {
    &:hover::after {
      width: 100%;
    }
  }

  &__tempoAtuacao {
    position: relative;
    z-index: 1;

    font-size: 1.4rem;
    color: $cinza6;
    flex-basis: 20%;

    @include responsivo(md) {
      display: flex;

      & * {
        margin-right: 1rem;
      }
    }
  }

  @media (any-hover) {
    &:hover &__tempoAtuacao {
      color: $cinza4;
      font-weight: 400;
      transform: translateY(-0.5rem);
    }
  }

  &__cargo {
    position: relative;
    z-index: 1;

    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 400;
    color: $cinza8;
    flex-basis: 60%;

    transition: inherit;

    &::after {
      content: '';
      background-color: transparent;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.2rem;
      width: 0;
      transition: inherit;
    }
  }

  @media (any-hover) {
    &:hover &__cargo {
      color: $cinza1;
      transform: translateY(-0.5rem);
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  @media (any-hover) {
    &:hover &__cargo::after {
      background-color: $cinza1;
      width: 80%;
      transition-delay: 0.1s;
    }
  }

  &__empresa {
    position: relative;
    z-index: 1;

    font-size: 1.1rem;
    color: $cinza6;
    flex-basis: 20%;

    @include responsivo(md) {
      display: flex;

      & * {
        margin-right: 1rem;
      }
    }
  }

  &:hover &__empresa {
    color: $cinza3;
    font-weight: 400;
    transform: translateY(-0.5rem);
  }
}
