.conteudo {
    max-width: 90rem;
    margin: 2rem auto;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: repeat(5, 1fr);

    //testing propurses
    & > * {
        min-height: 10rem;
        padding: 1rem;
    }
}

.titulo {background-color: red;}
.foto {background-color: orange;}
.infoBasico {background-color: blue;}
.academica {background-color: yellow}
.conhecimentos {background-color: brown; grid-column: 2/span 1; grid-row: 1 / span 5}
.contato {background-color: purple;}
.portfolio {background-color: teal; grid-column: 1/ span 2;}