body {
  background-image: linear-gradient(to bottom right, $corPrimariaClaro, $corPrimariaEscuro);
}

.conteudo {
  max-width: 80rem;
  margin: 7rem auto;
  background-color: $cinza1;
  padding: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(5, 1fr);
  grid-gap: 5rem;

  box-shadow: $sombra;
  border-radius: 2px;

  justify-content: start;

  //& > * {background-color: #ccc}
}

.cabecalho {
  text-align: right;
}

.foto {
  justify-self: end;
}

.infoBasico {
  line-height: 1.3;
  text-align: right;
}

.academica {
  text-align: right;
}

.conhecimentos {
  grid-column: 2 / span 1;
  grid-row: 1 / span 5;
}

.contato {
  background-color: purple;
}

.portfolio {
  background-color: teal;
  grid-column: 1 / span 2;
}
