%fonteBasico {
  font-family: "Unica One", cursive;
  text-transform: uppercase;
}

.titulo {
  &--1 {
    @extend %fonteBasico;
    font-size: 7rem;
    line-height: 0.9;
  }
  
  &--2 {
    @extend %fonteBasico;
    font-size: 3rem;
  }

}

.negrito {
  font-weight: 700;
}

.semiNegrito {
  font-weight: 400;
}